<a href="https://colab.research.google.com/github/h4r1c0t/WildCodeSchool/blob/master/Odyssey/Python/Helping_Statisticians_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Help for statisticians!

Your fellow statisticians need you. They want to learn how to program in Python and have tons of calculations to do.

Very kindly, you agree to help them. Complete the missions below.

![Einstien le génie](https://wallup.net/wp-content/uploads/2018/09/30/201016-funny-albert-einstein-748x468.jpg)

## Mission 1: ✔

Display the message "Hello Python". You will need to use a str variable that is passed as a print parameter

In [0]:
message = 'Hello Python'
print(message)

Hello Python

## Mission 2: ✔

Create a function that takes in 2 numbers as parameters, and indicates whether or not they are equal.

In [0]:
def equalOrNot(int1, int2):
  if int1 == int2: 
    print('Equal')
  else:
    print('Not equal')

equalOrNot(int(input()), int(input()))

12
5
Not equal

## Mission 3: ✔

Create a function that uses a while or for loop to display the times tables of any number from 0 to 10. 
Then skip every other result.

*For example if your input is 1 it will look like this: 0, 2, 4, 6, 8, 10*

In [0]:
def timeTable(int):
  num = 0
  result = 0
  while result < 10:
    result = num * (int +1)
    print(result)
    num += 1

timeTable(int(input()))

1
0
2
4
6
8
10

## Mission 4: ✔

Create a while loop that displays the vowels of the longest word in English one after the other (i.e. horizontally, not one above) of the other, i.e. vertically). The longest word in English is: "antidisestablishmentarianism"

In [0]:
def vowelsCounter(word):
  vowels = ['a', 'e', 'i', 'o', 'u', 'y']
  i = 0
  while i +1 <= len(word):
    isVowels = False
    for k in range(len(vowels)):
      if word[i] == vowels[k]:
        isVowels = True
    if isVowels:
        print(word[i], end = "")
    i += 1

word = 'antidisestablishmentarianism'
vowelsCounter(word)

aiieaieaiai

## Mission 5: ✔

Create a function that takes in 3 numbers as parameters, and carries out two operations (+, -, *, /).
Then return the result of the applied operations. You will have to factor for a situation where division by zero is attempted.
Display a message that indicates whether the result is positive, negative or zero.

*Example operations:* 

0*32+2 = 2; 21/0+3 > "Error, you're trying to divide by zero"

In [0]:
def randomOperation(int1, int2, int3):
  if int2 == 0:
    result2 = "Error, you're trying to divide by zero"
  else: 
    result2 = int1 / int2 - int3
  result1 = int1 * int2 + int3
  # sens of operation #1
  if result1 < 0:
    sens1 = 'negatif'
  elif result1 > 0:
    sens1 = 'positif'
  else:
    sens1 = null
  # sens of operation #2
  if type(result2) is not str:
    if result2 < 0:
      sens2 = 'negatif'
    elif result2 > 0:
      sens2 = 'positif'
    else:
      sens2 = 'null'
    print("{} * {} / {} = {}".format(int1, int2, int3, result1), end = "; ")
    print("{} * {} / {} = {}".format(int1, int2, int3, result2))
    print("The first result is {}".format(sens1))  
    print("The second result is {}".format(sens2))  
  else:
    print("{} * {} / {} = {}".format(int1, int2, int3, result1), end = "; ")
    print("{} * {} / {} > {}".format(int1, int2, int3, result2))
    print("The first result is {}".format(sens1))      

randomOperation(6, 2, 3)
print("")
randomOperation(4, 0, 2)

6 * 2 / 3 = 15; 6 * 2 / 3 = 0.0
The first result is positif
The second result is null

4 * 0 / 2 = 2; 4 * 0 / 2 > Error, you're trying to divide by zero
The first result is positif

## Mission 6: ✔

Create a lambda function that takes 2 numbers as parameters, and returns the result of a division operation. 
Test if the denominator is equal to 0 and if so, display a message that says: "You can't divide by zero".

In [0]:
def divide_function(int1, int2):
  if int2 == 0:
    print("You can't divide by zero")
  else: 
    division = lambda int1, int2 : int1 / int2
    print(division(int1, int2))

divide_function(4, 2)
divide_function(2, 4)
divide_function(4, 0)
divide_function(0, 4)

2.0
0.5
You can't divide by zero
0.0

## Mission 7: ✔

Create a function that takes a number as a parameter that corresponds to gross salary and returns the net salary for executives.

In [0]:
def gross_to_net_salary(gross):
  gross -= gross * 23 / 100
  print(gross, '€')

gross_to_net_salary(2900)

2233.0 €

## Mission 8: ✔

Create a function that can mutate the value of 2 variables

In [0]:
def mutate(x, y):
  x1 = input()
  y1 = input()
  x = x1
  y = y1
  return (x, y)

x = 1
y = 2

(x, y) = mutate(x, y)

print(x)
print(y)

12
banana
12
banana

## Your colleagues are impressed. So they show you some more exercises that they're stuck on. Code your heart out, you go for it ^^

## Mission 9: ✔

Create a function that takes in a day as a parameter and returns the next day (*i.e.* for Sunday it would return Monday). 
You can use lists or dictionaries to solve this.

In [0]:
def nextDay(day):
  days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
  if day == 'Sunday':
    print(days[0])
  else:
    id_day = days.index(day)
    print(days[id_day +1])

nextDay('Tuesday')
nextDay('Sunday')

Wednesday
Monday

## Mission 10: ✔
Create a function that fills an empty list with values from the following string : 

"*After twelve soft showers are the arch-duchess' socks dry, arch-dry?*"

In [0]:
def str_to_list(str): 
  list = str.split(" ")
  return list

string = "After twelve soft showers are the arch-duchess' socks dry, arch-dry?"
str_to_list(string)

['After',
 'twelve',
 'soft',
 'showers',
 'are',
 'the',
 "arch-duchess'",
 'socks',
 'dry,',
 'arch-dry?']

## Mission 11: ✔

Create a function that takes a str as a parameter, and returns in uppercase one of two letters unless it's a consonant.

In [0]:
def str1on2Up(str):
  vowels = ['a', 'e', 'i', 'o', 'u', 'y']
  s = string.lower()
  for i in range(len(s)):
    isVowels = False
    if i % 2 == 0:
      for k in range(len(vowels)):
        if s[i] == vowels[k]:
          isVowels = True
      if isVowels:
        print(s[i].upper(), end = "")
      else:
        print(s[i], end= "")
    else:
      print(s[i], end= "")

string = "Bonjour, je m'appelle S"
str1on2Up(string)

bonjOur, jE m'AppellE s

## Mission 12: ✔

Create a function that uses a list to fill an empty list with string values of: 
"Python fan" then display the filled list

In [0]:
list1 = ["Python fan"] * 10
print(list1)

def fill_list(list):
  empty_list = [0] * len(list1)
  i = 0
  for item in list1:
    empty_list[i] = item
    i += 1
  filled_list = empty_list
  return filled_list

fill_list(list1)

['Python fan', 'Python fan', 'Python fan', 'Python fan', 'Python fan', 'Python fan', 'Python fan', 'Python fan', 'Python fan', 'Python fan']

['Python fan',
 'Python fan',
 'Python fan',
 'Python fan',
 'Python fan',
 'Python fan',
 'Python fan',
 'Python fan',
 'Python fan',
 'Python fan']

## Mission 13: ✔
Create a function that retrieves 2 inputs from the user, their date of birth and first name.
Convert the date of birth into an int to subtract it from the current year that you can return using a certain module :-P.
Then display the message: Hello [first name], today you are [age] years old.

In [0]:
def peopleAge():
  print("What's your name?")
  name = input()
  print("When is your birthday? (YYYY-MM-DD)")
  birthdate = input()
  birthdate = birthdate.split("-")
  age = 2020 - int(birthdate[0])
  print("Hello ", name, ", today you are ", age, " years old.", sep = "")

peopleAge()

What's your name?
Sébastien
When is your birthday? (YYYY-MM-DD)
1992-08-30
Hello Sébastien, today you are 28 years old.