# 1ère exploration de la database

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("D:/Google Drive/Wild Code School/Projets_/Projet #3/Dataset/SQLite3 db/NetflixSmall_n_Imdb.db")

In [2]:
SQL_Query = '''
SELECT * FROM movies
'''

pd.read_sql_query(SQL_Query, conn)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [6]:
movies = pd.DataFrame(pd.read_sql_query(SQL_Query, conn))

       count unique          top  freq
title   9742   9737  Eros (2004)     2
genres  9742    951        Drama  1053