# Dernier checkpoint - formation data analyst
[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/h4r1c0t/WildCodeSchool/master?filepath=Odyssey%2FCheckpoint%2F%234_Final%2FCP4_sujet1.ipynb)
___
## Sujet n°1 : SQL Database
##### import

In [ ]:
import pandas as pd
import requests
import sqlite3

### Open dataset

In [2]:
# Get dataset from github.com
link = 'https://github.com/murpi/wilddata/raw/master/quests/chinook.db'
r = requests.get(link)
open('chinook.db', 'wb').write(r.content)

# Create connector
conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()

### Explore dataset
#### DB schemas

![schemas](http://images.innoveduc.fr/data/SQL/SQLite_chinook.png)

In [3]:
pd.read_sql("select * from invoice_items", conn)

      InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0                 1          1        2       0.99         1
1                 2          1        4       0.99         1
2                 3          2        6       0.99         1
3                 4          2        8       0.99         1
4                 5          2       10       0.99         1
...             ...        ...      ...        ...       ...
2235           2236        411     3136       0.99         1
2236           2237        411     3145       0.99         1
2237           2238        411     3154       0.99         1
2238           2239        411     3163       0.99         1
2239           2240        412     3177       1.99         1

[2240 rows x 5 columns]