<a href="https://colab.research.google.com/github/h4r1c0t/WildCodeSchool/blob/master/LiveCoding/%2315_challenge_pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Challenge pokémon
objectif: remplacer les pokémons légendaires par des non légendaires similaires.

In [0]:
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsClassifier

In [0]:
url = "https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv"

In [0]:
df_pokemon = pd.read_csv(url)
df_pokemon.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [0]:
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [0]:
df_pokemon.describe(include = 'all')

                 #      Name Type 1  ...       Speed  Generation  Legendary
count   800.000000       800    800  ...  800.000000   800.00000        800
unique         NaN       800     18  ...         NaN         NaN          2
top            NaN  Drifloon  Water  ...         NaN         NaN      False
freq           NaN         1    112  ...         NaN         NaN        735
mean    362.813750       NaN    NaN  ...   68.277500     3.32375        NaN
std     208.343798       NaN    NaN  ...   29.060474     1.66129        NaN
min       1.000000       NaN    NaN  ...    5.000000     1.00000        NaN
25%     184.750000       NaN    NaN  ...   45.000000     2.00000        NaN
50%     364.500000       NaN    NaN  ...   65.000000     3.00000        NaN
75%     539.250000       NaN    NaN  ...   90.000000     5.00000        NaN
max     721.000000       NaN    NaN  ...  180.000000     6.00000        NaN

[11 rows x 13 columns]

In [0]:
df_pokemon_noleg = df_pokemon[df_pokemon['Legendary'] == False]

In [0]:
df_pokemon_noleg.describe(include = 'all')

On va entrainer un KNN avec les varaible numériques uniquement

In [0]:
cols_pred = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

X = df_pokemon_noleg[cols_pred]
y = df_pokemon_noleg['Legendary']

In [0]:
knn_clf = KNeighborsClassifier(n_neighbors=1)
knn_clf.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [0]:
pokemons_to_replace = ['Mewtwo', 'Lugia', 'Rayquaza', 'GiratinaOrigin Forme', 'Dialga', 'Palkia']

In [0]:
df_pokemon[df_pokemon['Name'] == 'Mewtwo'][cols_pred]

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
162  106     110       90      154       90    130

In [0]:
# détails

knn_clf.kneighbors(df_pokemon[df_pokemon['Name'] == 'Mewtwo'][cols_pred], 1)

(array([[42.21374184]]), array([[242]]))

In [0]:
print(knn_clf.kneighbors(df_pokemon[df_pokemon['Name'] == 'Mewtwo'][cols_pred], 1)[0][0][0], \
knn_clf.kneighbors(df_pokemon[df_pokemon['Name'] == 'Mewtwo'][cols_pred], 1)[1][0][0])

42.21374183841087 242

In [0]:
df_pokemon[df_pokemon.index == 242]['Name']

array(['Octillery'], dtype=object)

In [0]:
for poke in pokemons_to_replace:
  poke_rplct_idx = knn_clf.kneighbors(df_pokemon[df_pokemon['Name']==poke][cols_pred], 1)[1][0][0]
  poke_rplct_distance = knn_clf.kneighbors(df_pokemon[df_pokemon['Name']==poke][cols_pred], 1)[0][0][0]
  poke_rplct = df_pokemon[df_pokemon.index == poke_rplct_idx]['Name']
  print("Pokemon légendaire à remplacer: {}, Pokemon de remplacement: {}, distance: {}".format(poke, poke_rplct.values[0], poke_rplct_distance))

Pokemon légendaire à remplacer: Mewtwo, Pokemon de remplacement: Octillery, distance: 42.21374183841087
Pokemon légendaire à remplacer: Lugia, Pokemon de remplacement: Mantyke, distance: 46.06517122512408
Pokemon légendaire à remplacer: Rayquaza, Pokemon de remplacement: TyranitarMega Tyranitar, distance: 36.742346141747674
Pokemon légendaire à remplacer: GiratinaOrigin Forme, Pokemon de remplacement: Dratini, distance: 58.309518948453004
Pokemon légendaire à remplacer: Dialga, Pokemon de remplacement: BlastoiseMega Blastoise, distance: 36.38681079732051
Pokemon légendaire à remplacer: Palkia, Pokemon de remplacement: CharizardMega Charizard Y, distance: 31.464265445104548