# Dernier checkpoint - formation data analyst
___
## Sujet nÂ°1 : SQL Database
### Open dataset

In [2]:
import pandas as pd

link = 'https://raw.githubusercontent.com/murpi/wilddata/master/quests/Data_pole_emploi.csv'
df_jobs = pd.read_csv(link, sep = ";")

In [4]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   alternance                   1224 non-null   bool
 1   appellationlibelle           1224 non-null   object
 2   competences                  1224 non-null   object
 3   dateActualisation            1224 non-null   object
 4   dateCreation                 1224 non-null   object
 5   description                  1224 non-null   object
 6   dureeTravailLibelleConverti  1224 non-null   object
 7   experienceCommentaire        246 non-null    object
 8   experienceExige              1224 non-null   object
 9   experienceLibelle            1224 non-null   object
 10  formations                   1224 non-null   object
 11  id                           1224 non-null   object
 12  intitule                     1224 non-null   object
 13  langues                      1224 non-null   object
 14  natureContrat                1224 non-null   object
 15  nombrePostes                 1224 non-null   int64
 16  qualificationCode            1224 non-null   object
 17  qualificationLibelle         448 non-null    object
 18  romeCode                     1224 non-null   object
 19  romeLibelle                  1224 non-null   object
 20  typeContrat                  1224 non-null   object
 21  typeContratLibelle           1224 non-null   object
 22  entreprise.nom               533 non-null    object
 23  lieuTravail.codePostal       1074 non-null   float64
 24  lieuTravail.commune          1111 non-null   float64
 25  lieuTravail.latitude         1128 non-null   float64
 26  lieuTravail.libelle          1224 non-null   object
 27  lieuTravail.longitude        1128 non-null   float64
 28  origineOffre.origine         1224 non-null   int64
 29  origineOffre.partenaires     1224 non-null   object
 30  origineOffre.urlOrigine      1224 non-null   object
 31  salaire.libelle              293 non-null    object
 32  accessibleTH                 291 non-null    object
 33  dureeTravailLibelle          299 non-null    object
 34  qualitesProfessionnelles     193 non-null    object
 35  secteurActivite              344 non-null    float64
 36  secteurActiviteLibelle       344 non-null    object
 37  trancheEffectifEtab          211 non-null    object
 38  contact.coordonnees1         249 non-null    object
 39  contact.courriel             170 non-null    object
 40  contact.nom                  240 non-null    object
 41  entreprise.description       193 non-null    object
 42  entreprise.logo              100 non-null    object
 43  entreprise.url               163 non-null    object
 44  deplacementCode              50 non-null     float64
 45  deplacementLibelle           50 non-null     object
 46  contact.urlPostulation       35 non-null     object
 47  salaire.commentaire          172 non-null    object
 48  salaire.complement1          129 non-null    object
 49  salaire.complement2          43 non-null     object
 50  agence.courriel              36 non-null     object
 51  contact.coordonnees2         44 non-null     object
 52  contact.coordonnees3         39 non-null     object
 53  permis                       21 non-null     object
 54  complementExercice           3 non-null      object
 55  contact.commentaire          8 non-null      object
 56  contact.telephone            1 non-null      float64
dtypes: bool(1), float64(7), int64(2), object(47)
memory usage: 536.8+ KB

In [6]:
(df_jobs.isna().sum()/len(df_jobs))*100

alternance                      0.000000
appellationlibelle              0.000000
competences                     0.000000
dateActualisation               0.000000
dateCreation                    0.000000
description                     0.000000
dureeTravailLibelleConverti     0.000000
experienceCommentaire          79.901961
experienceExige                 0.000000
experienceLibelle               0.000000
formations                      0.000000
id                              0.000000
intitule                        0.000000
langues                         0.000000
natureContrat                   0.000000
nombrePostes                    0.000000
qualificationCode               0.000000
qualificationLibelle           63.398693
romeCode                        0.000000
romeLibelle                     0.000000
typeContrat                     0.000000
typeContratLibelle              0.000000
entreprise.nom                 56.454248
lieuTravail.codePostal         12.254902
lieuTravail.commune             9.232026
lieuTravail.latitude            7.843137
lieuTravail.libelle             0.000000
lieuTravail.longitude           7.843137
origineOffre.origine            0.000000
origineOffre.partenaires        0.000000
origineOffre.urlOrigine         0.000000
salaire.libelle                76.062092
accessibleTH                   76.225490
dureeTravailLibelle            75.571895
qualitesProfessionnelles       84.232026
secteurActivite                71.895425
secteurActiviteLibelle         71.895425
trancheEffectifEtab            82.761438
contact.coordonnees1           79.656863
contact.courriel               86.111111
contact.nom                    80.392157
entreprise.description         84.232026
entreprise.logo                91.830065
entreprise.url                 86.683007
deplacementCode                95.915033
deplacementLibelle             95.915033
contact.urlPostulation         97.140523
salaire.commentaire            85.947712
salaire.complement1            89.460784
salaire.complement2            96.486928
agence.courriel                97.058824
contact.coordonnees2           96.405229
contact.coordonnees3           96.813725
permis                         98.284314
complementExercice             99.754902
contact.commentaire            99.346405
contact.telephone              99.918301
dtype: float64