# Analyse des données des élections de 1965 à 2012
## Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Dataset sur la participation

In [2]:
link = 'https://raw.githubusercontent.com/h4r1c0t/WildCodeSchool/master/Project/Datathon%231/Datasets/data_participation_1965-2012.csv'
dfP = pd.read_csv(link, index_col = False)
dfP.drop('Unnamed: 0', axis = 1, inplace = True)

### Dataset sur les scores

In [3]:
link = 'https://raw.githubusercontent.com/h4r1c0t/WildCodeSchool/master/Project/Datathon%231/Datasets/data_scores_1965-2012.csv'
dfSc = pd.read_csv(link, index_col = False)
dfSc.drop('Unnamed: 0', axis = 1, inplace = True)

## Exploration et visualisation des données

In [4]:
dfP.head()

,Date,Tour,Code département,département,Blancs et nuls,Exprimés,Inscrits,Votants,Abstention,Votants (%),Abstention (%),Année
0,1965-12-05,1.0,1,AIN,1431.0,165555.0,206496.0,166986.0,39510.0,80.87,19.13,1965
1,1965-12-05,1.0,10,AUBE,1435.0,130280.0,153423.0,131715.0,21708.0,85.85,14.15,1965
2,1965-12-05,1.0,11,AUDE,2096.0,146993.0,173977.0,149089.0,24888.0,85.69,14.31,1965
3,1965-12-05,1.0,12,AVEYRON,2189.0,157076.0,189045.0,159265.0,29780.0,84.25,15.75,1965
4,1965-12-05,1.0,13,BOUCHES-DU-RHONE,5828.0,603841.0,750783.0,609669.0,141114.0,81.20,18.80,1965

In [5]:
dfSc.head()

,Candidats,Date,Tour,Code département,département,Score,Année,Score (%)
0,BALLADUR (UDF),1995-04-23,1.0,1,AIN,48264.0,1995,19.80
1,CHEMINADE (POE),1995-04-23,1.0,1,AIN,686.0,1995,0.28
2,CHIRAC (RPR),1995-04-23,1.0,1,AIN,46891.0,1995,19.23
3,DE VILLIERS (MPF),1995-04-23,1.0,1,AIN,13118.0,1995,5.38
4,HUE (PCF),1995-04-23,1.0,1,AIN,14999.0,1995,6.15