# Analyse des données des élections de 1965 à 2012
## Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Dataset sur la participation

In [2]:
link = 'https://raw.githubusercontent.com/h4r1c0t/WildCodeSchool/master/Project/Datathon%231/Datasets/data_participation_1965-2012.csv'
dfP = pd.read_csv(link, index_col = False)
dfP.drop('Unnamed: 0', axis = 1, inplace = True)

### Dataset sur les scores

In [3]:
link = 'https://raw.githubusercontent.com/h4r1c0t/WildCodeSchool/master/Project/Datathon%231/Datasets/data_scores_1965-2012.csv'
dfSc = pd.read_csv(link, index_col = False)
dfSc.drop('Unnamed: 0', axis = 1, inplace = True)

## Exploration et visualisation des données

In [4]:
dfP.head()

,Date,Tour,Code département,département,Blancs et nuls,Exprimés,Inscrits,Votants,Abstention,Votants (%),Abstention (%),Année
0,1965-12-05,1.0,1,AIN,1431.0,165555.0,206496.0,166986.0,39510.0,80.87,19.13,1965
1,1965-12-05,1.0,10,AUBE,1435.0,130280.0,153423.0,131715.0,21708.0,85.85,14.15,1965
2,1965-12-05,1.0,11,AUDE,2096.0,146993.0,173977.0,149089.0,24888.0,85.69,14.31,1965
3,1965-12-05,1.0,12,AVEYRON,2189.0,157076.0,189045.0,159265.0,29780.0,84.25,15.75,1965
4,1965-12-05,1.0,13,BOUCHES-DU-RHONE,5828.0,603841.0,750783.0,609669.0,141114.0,81.20,18.80,1965

In [5]:
dfSc.head()

,Candidats,Orientation,Date,Tour,Code département,département,Score,Année,Score (%)
0,BALLADUR (UDF),droite,1995-04-23,1.0,1,AIN,48264.0,1995,19.80
1,CHEMINADE (POE),sans,1995-04-23,1.0,1,AIN,686.0,1995,0.28
2,CHIRAC (RPR),droite,1995-04-23,1.0,1,AIN,46891.0,1995,19.23
3,DE VILLIERS (MPF),droite,1995-04-23,1.0,1,AIN,13118.0,1995,5.38
4,HUE (PCF),gauche,1995-04-23,1.0,1,AIN,14999.0,1995,6.15

In [11]:
pd.pivot_table(dfSc, values = ['Score', 'Score (%)'], 
              index = ['Orientation', 'Année', 'Tour'], 
              aggfunc = np.mean).reset_index()

   Orientation  Année  Tour          Score  Score (%)
0       droite   1965   1.0   43947.647222  16.699806
1       droite   1965   2.0  137732.210526  50.875368
2       droite   1969   1.0   79644.252632  34.859737
3       droite   1969   2.0   97616.915789  50.000000
4       droite   1974   1.0   33941.881579  12.947132
5       droite   1974   2.0  179090.103774  52.657925
6       droite   1981   1.0   36249.278646  12.312240
7       droite   1981   2.0  160298.447917  52.703021
8       droite   1988   1.0   52603.493056  16.878333
9       droite   1988   2.0  140482.633333  54.265778
10      droite   1995   1.0   45839.888021  14.758724
11      droite   1995   2.0  144836.322917  46.101562
12      droite   2002   1.0   21320.125170   7.907048
13      droite   2002   2.0  147143.661905  50.000000
14      droite   2007   1.0   44042.196226  12.609170
15      droite   2007   2.0  157576.495327  47.955794
16      droite   2012   1.0   42593.950156  12.659003
17      droite   2012   2.0  148153.843750  47.863854
18      drotie   2012   1.0   60013.327103  17.810280
19      gauche   1965   1.0   44091.361111  16.600000
20      gauche   1965   2.0  134116.347368  49.124632
21      gauche   1969   1.0   15720.751579   6.463558
22      gauche   1974   1.0   21392.149123   8.058316
23      gauche   1974   2.0  158403.273585  47.342075
24      gauche   1981   1.0   28063.814583   9.395896
25      gauche   1981   2.0  143977.645833  47.296979
26      gauche   1988   1.0   30238.958333   9.795167
27      gauche   1988   2.0  117267.966667  45.734222
28      gauche   1995   1.0   31543.877604  10.171771
29      gauche   1995   2.0  169903.375000  53.898438
30      gauche   2002   1.0   13427.808466   4.961196
31      gauche   2007   1.0   18028.345013   5.279178
32      gauche   2007   2.0  168230.542056  52.044206
33      gauche   2012   1.0   29345.009346   8.790112
34      gauche   2012   2.0  161996.166667  52.136146
35        sans   1974   1.0     305.252632   0.112947
36        sans   1981   1.0   11649.708333   3.771250
37        sans   1995   1.0     826.802083   0.279792
38        sans   2012   1.0     836.869159   0.261682