# Split DataFrame (Statut: OK)

Le but de ici est de séparer le DF en 2 afin de le manipuler plus aisément. 

1. DF sur la participation 
1. DF sur les scores


***Import library***

In [28]:
import pandas as pd
import numpy as np

## Import DF

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/h4r1c0t/WildCodeSchool/master/Project/Datathon%231/Datasets/bigData.csv',
                index_col=False)

In [30]:
df.head()

,Code département,département,circonscription,Inscrits,Votants,Exprimés,Blancs et nuls,Score,Candidats,Tour,Date
0,1,AIN,1,68818.0,54262.0,53769.0,493.0,16677.0,MITTERRAND (CIR),1.0,1965-12-05
1,1,AIN,2,70186.0,57221.0,56780.0,441.0,18247.0,MITTERRAND (CIR),1.0,1965-12-05
2,1,AIN,3,67492.0,55503.0,55006.0,497.0,15494.0,MITTERRAND (CIR),1.0,1965-12-05
3,2,AISNE,1,52618.0,46064.0,45564.0,500.0,12999.0,MITTERRAND (CIR),1.0,1965-12-05
4,2,AISNE,2,68770.0,59908.0,59145.0,763.0,19612.0,MITTERRAND (CIR),1.0,1965-12-05

## 1. Participation's DF

In [31]:
lstCol = ['Date', 'Tour', 'Code département', 'département', 'circonscription', 
          'Inscrits', 'Votants', 'Exprimés', 'Blancs et nuls']
dfP = df[lstCol]

dfP.shape

(57816, 9)

In [32]:
dfP = dfP.drop_duplicates()

dfP.shape

(9441, 9)

In [33]:
tab1 = pd.pivot_table(dfP, values = ['Inscrits', 'Votants', 'Exprimés', 'Blancs et nuls'], 
                      index = ['Date', 'Tour', 'Code département', 'département'],
                      columns=[], aggfunc=np.sum)

In [34]:
# Nb Abstention
tab1['Abstention'] = tab1['Inscrits'] - tab1['Votants']

# % Participation 
tab1['Votants (%)'] = round(tab1['Votants'] / tab1['Inscrits'] * 100, 2)

# % Abstention
tab1['Abstention (%)'] = round(tab1['Abstention'] / tab1['Inscrits'] * 100, 2)

In [35]:
tab1.head()

                                                   Blancs et nuls  Exprimés  \
Date       Tour Code département département
1965-12-05 1.0  1                AIN                       1431.0  165555.0
                10               AUBE                      1435.0  130280.0
                11               AUDE                      2096.0  146993.0
                12               AVEYRON                   2189.0  157076.0
                13               BOUCHES-DU-RHONE          5828.0  603841.0

                                                   Inscrits   Votants  \
Date       Tour Code département département
1965-12-05 1.0  1                AIN               206496.0  166986.0
                10               AUBE              153423.0  131715.0
                11               AUDE              173977.0  149089.0
                12               AVEYRON           189045.0  159265.0
                13               BOUCHES-DU-RHONE  750783.0  609669.0

                                                   Abstention  Votants (%)  \
Date       Tour Code département département
1965-12-05 1.0  1                AIN                  39510.0        80.87
                10               AUBE                 21708.0        85.85
                11               AUDE                 24888.0        85.69
                12               AVEYRON              29780.0        84.25
                13               BOUCHES-DU-RHONE    141114.0        81.20

                                                   Abstention (%)
Date       Tour Code département département
1965-12-05 1.0  1                AIN                        19.13
                10               AUBE                       14.15
                11               AUDE                       14.31
                12               AVEYRON                    15.75
                13               BOUCHES-DU-RHONE           18.80

In [36]:
tab1.reset_index(inplace = True)

tab1['Année'] = tab1['Date'].apply(lambda x: x[:4])

In [37]:
tab1.head()

,Date,Tour,Code département,département,Blancs et nuls,Exprimés,Inscrits,Votants,Abstention,Votants (%),Abstention (%),Année
0,1965-12-05,1.0,1,AIN,1431.0,165555.0,206496.0,166986.0,39510.0,80.87,19.13,1965
1,1965-12-05,1.0,10,AUBE,1435.0,130280.0,153423.0,131715.0,21708.0,85.85,14.15,1965
2,1965-12-05,1.0,11,AUDE,2096.0,146993.0,173977.0,149089.0,24888.0,85.69,14.31,1965
3,1965-12-05,1.0,12,AVEYRON,2189.0,157076.0,189045.0,159265.0,29780.0,84.25,15.75,1965
4,1965-12-05,1.0,13,BOUCHES-DU-RHONE,5828.0,603841.0,750783.0,609669.0,141114.0,81.20,18.80,1965

In [38]:
tab1.to_csv('/home/h4r1c0t/Github/WildCodeSchool/Project/Datathon#1/Datasets/data_participation_1965-2012.csv')

## Score's DF

In [39]:
df.head()

,Code département,département,circonscription,Inscrits,Votants,Exprimés,Blancs et nuls,Score,Candidats,Tour,Date
0,1,AIN,1,68818.0,54262.0,53769.0,493.0,16677.0,MITTERRAND (CIR),1.0,1965-12-05
1,1,AIN,2,70186.0,57221.0,56780.0,441.0,18247.0,MITTERRAND (CIR),1.0,1965-12-05
2,1,AIN,3,67492.0,55503.0,55006.0,497.0,15494.0,MITTERRAND (CIR),1.0,1965-12-05
3,2,AISNE,1,52618.0,46064.0,45564.0,500.0,12999.0,MITTERRAND (CIR),1.0,1965-12-05
4,2,AISNE,2,68770.0,59908.0,59145.0,763.0,19612.0,MITTERRAND (CIR),1.0,1965-12-05

In [41]:
lstCol = ['Date', 'Tour', 'Code département', 'département', 'circonscription', 
          'Candidats', 'Exprimés', 'Score']
dfSc = df[lstCol]

orientations = pd.read_csv('https://raw.githubusercontent.com/h4r1c0t/WildCodeSchool/master/Project/Datathon%231/Datasets/orientation_candidats.csv')

dfSc = dfSc.merge(orientations, how = 'left', left_on = 'Candidats', right_on = 'Candidat')
dfSc.drop('Candidat', axis = 1, inplace = True)

dfSc.shape

(57816, 9)

In [42]:
dfSc.head()

,Date,Tour,Code département,département,circonscription,Candidats,Exprimés,Score,Orientation
0,1965-12-05,1.0,1,AIN,1,MITTERRAND (CIR),53769.0,16677.0,NaN
1,1965-12-05,1.0,1,AIN,2,MITTERRAND (CIR),56780.0,18247.0,NaN
2,1965-12-05,1.0,1,AIN,3,MITTERRAND (CIR),55006.0,15494.0,NaN
3,1965-12-05,1.0,2,AISNE,1,MITTERRAND (CIR),45564.0,12999.0,NaN
4,1965-12-05,1.0,2,AISNE,2,MITTERRAND (CIR),59145.0,19612.0,NaN

In [43]:
tab2 = pd.pivot_table(dfSc, values = ['Score'], 
                      index = ['Candidats', 'Date', 'Tour', 'Code département', 'département'],
                      columns = [], aggfunc = np.sum)

In [44]:
tab2.reset_index(inplace = True)

tab2['Année'] = tab2['Date'].apply(lambda x: x[:4])

expr = tab1[['Date', 'Code département', 'Exprimés']]

tab2 = tab2.merge(expr, left_on = ['Date', 'Code département'], right_on = ['Date', 'Code département'])

In [45]:
tab2['Score (%)'] = round(tab2['Score'] / tab2['Exprimés'] * 100, 2)
tab2.drop('Exprimés', axis = 1, inplace = True)

In [46]:
tab3 = pd.pivot_table(tab2, values = ['Score (%)'], 
                      index = ['Date', 'Tour', 'Candidats'], 
                      aggfunc = np.mean).reset_index()

In [47]:
tab3[tab3['Date'] == '1965-12-05']

         Date  Tour                Candidats  Score (%)
0  1965-12-05   1.0              BARBU (DIV)   1.121778
1  1965-12-05   1.0          DE GAULLE (UNR)  43.367333
2  1965-12-05   1.0           LECANUET (MRP)  16.237000
3  1965-12-05   1.0         MARCILHACY (DVD)   1.770444
4  1965-12-05   1.0         MITTERRAND (CIR)  32.078222
5  1965-12-05   1.0  TIXIER-VIGNANCOUR (EXD)   5.424444

In [48]:
tab2.to_csv('/home/h4r1c0t/Github/WildCodeSchool/Project/Datathon#1/Datasets/data_scores_1965-2012.csv')