# Exploration des données de la base *imdb*

source : https://datasets.imdbws.com/

## Import modules

In [3]:
import pandas as pd

## Import data
**Data names**

Base de données des noms d'acteurs et/ou personnalité du cinéma du cinéma

In [4]:
path = 'D:/Google Drive/Wild Code School/Projets_/Projet #3/Dataset/imdb/name.basics.tsv/data.tsv'
name_basics = pd.read_csv(path, delimiter = '\t')

name_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10071129 entries, 0 to 10071128
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 461.0+ MB

**Data title akas**

Infos sur le titre et la provenance du film et autre...

In [5]:
path = 'D:/Google Drive/Wild Code School/Projets_/Projet #3/Dataset/imdb/title.akas.tsv/data.tsv'
title_akas = pd.read_csv(path, delimiter = '\t')

title_akas.info()

C:\Users\vanst\PycharmProjects\Python (default)\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21497552 entries, 0 to 21497551
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 1.3+ GB

**Data title basics**

Infos sur les films, séries, etc.

In [6]:
path = 'D:/Google Drive/Wild Code School/Projets_/Projet #3/Dataset/imdb/title.basics.tsv/data.tsv'
title_basics = pd.read_csv(path, delimiter = '\t')

title_basics.info()

C:\Users\vanst\PycharmProjects\Python (default)\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6782090 entries, 0 to 6782089
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: int64(1), object(8)
memory usage: 465.7+ MB

**Data title episode**

Infos sur les séries

In [7]:
path = 'D:/Google Drive/Wild Code School/Projets_/Projet #3/Dataset/imdb/title.episode.tsv/data.tsv'
title_episode = pd.read_csv(path, delimiter = '\t')

title_episode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4827950 entries, 0 to 4827949
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   object
 3   episodeNumber  object
dtypes: object(4)
memory usage: 147.3+ MB

**Data title principals**

Infos sur les principales personnes du film ?

In [8]:
path = 'D:/Google Drive/Wild Code School/Projets_/Projet #3/Dataset/imdb/title.principals.tsv/data.tsv'
title_principals = pd.read_csv(path, delimiter = '\t')

title_principals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39136498 entries, 0 to 39136497
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 1.7+ GB

**Data title ratings**

Infos sur les notes des films

In [9]:
path = 'D:/Google Drive/Wild Code School/Projets_/Projet #3/Dataset/imdb/title.ratings.tsv/data.tsv'
title_ratings = pd.read_csv(path, delimiter = '\t')

title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036256 entries, 0 to 1036255
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1036256 non-null  object
 1   averageRating  1036256 non-null  float64
 2   numVotes       1036256 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.7+ MB

## Explore data

In [16]:
title_principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [10]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [11]:
movies = title_basics[title_basics['titleType'] == 'movie']

In [12]:
movies.shape

(550001, 9)