# 1Ã¨re exploration de la database

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("D:/Google Drive/Wild Code School/Projets_/Projet #3/Dataset/SQLite3 db/NetflixSmalldb2.db")

SQL_Query = '''
SELECT * FROM movies
'''
movies = pd.DataFrame(pd.read_sql_query(SQL_Query, conn))

In [7]:
print(movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   year     9742 non-null   object
 3   genre1   9742 non-null   object
 4   genre2   9742 non-null   object
 5   genre3   9742 non-null   object
 6   genre4   9742 non-null   object
 7   genre5   9742 non-null   object
 8   genre6   9742 non-null   object
 9   genre7   9742 non-null   object
 10  genre8   9742 non-null   object
 11  genre9   9742 non-null   object
 12  genre10  9742 non-null   object
dtypes: int64(1), object(12)
memory usage: 989.5+ KB
None

In [10]:
print(movies.describe(include = ['int', 'object']))

          title  year  genre1 genre2 genre3 genre4 genre5 genre6 genre7  \
count      9742  9742    9742   9742   9742   9742   9742   9742   9742
unique     9459   120      20     19     18     17     15     11      7
top     Hamlet   2002  Comedy
freq          5   311    2779   2852   6070   8407   9394   9665   9728

       genre8 genre9 genre10
count    9742   9742    9742
unique      3      2       2
top
freq     9740   9741    9741