# Concaténation des données

Import des packages

In [1]:
import glob
import pandas as pd

 ## Tour 1

In [2]:
files = glob.glob('/home/h4r1c0t/Github/WildCodeSchool/Project/Datathon#1/PRESIDENTIELLES_1965-2012-csv/pres_circ_t1/*.csv')

data = pd.DataFrame(columns = ['Code département', 'département', 'circonscription', 'Inscrits', 'Votants', 'Exprimés', 'Blancs et nuls'])

for file in files:
    df = pd.read_csv(file)
    df1 = df.iloc[:, 0:7]
    df1.columns = ['Code département', 'département', 'circonscription', 'Inscrits', 'Votants', 'Exprimés', 'Blancs et nuls']
    for i in range(8, len(df.columns)):
        df2 = pd.DataFrame(df.iloc[:, i])
        df2['Candidats'] = df.columns[i]
        df2.rename(columns = {df.columns[i]:'Score'}, inplace = True)
        df2['Tour'] = 1
        df3 = pd.concat([df1, df2], axis = 1)
        data = pd.concat([data, df3])
    data['Tour'] = 1

 ## Tour 2

In [3]:
files = glob.glob('/home/h4r1c0t/Github/WildCodeSchool/Project/Datathon#1/PRESIDENTIELLES_1965-2012-csv/pres_circ_t2/*.csv')

for file in files:
    df = pd.read_csv(file)
    df1 = df.iloc[:, 0:7]
    df1.columns = ['Code département', 'département', 'circonscription', 'Inscrits', 'Votants', 'Exprimés', 'Blancs et nuls']
    for i in range(8, len(df.columns)):
        df2 = pd.DataFrame(df.iloc[:, i])
        df2['Candidats'] = df.columns[i]
        df2.rename(columns = {df.columns[i]:'Score'}, inplace = True)
        df2['Tour'] = 2
        df3 = pd.concat([df1, df2], axis = 1)
        data = pd.concat([data, df3])

## Visualisation du DataFrame

In [4]:
data.shape

(48372, 10)

In [5]:
data.head()

,Code département,département,circonscription,Inscrits,Votants,Exprimés,Blancs et nuls,Score,Candidats,Tour
0,1,AIN,1,80486,58825,56688,2137,2495.0,LAGUILLER (LO),1
1,1,AIN,2,82984,61231,59271,1960,2968.0,LAGUILLER (LO),1
2,1,AIN,3,76759,55344,53597,1747,2709.0,LAGUILLER (LO),1
3,1,AIN,4,97991,73817,71096,2721,3390.0,LAGUILLER (LO),1
4,2,AISNE,1,69958,51878,50280,1598,4710.0,LAGUILLER (LO),1

In [6]:
data.tail()

,Code département,département,circonscription,Inscrits,Votants,Exprimés,Blancs et nuls,Score,Candidats,Tour
469,95,VAL-D'OISE,1,116492,101867,98727,3140,45178.0,GISCARD D'ESTAING (UDF),2
470,95,VAL-D'OISE,2,88572,76804,74415,2389,34047.0,GISCARD D'ESTAING (UDF),2
471,95,VAL-D'OISE,3,68462,57233,55549,1684,18739.0,GISCARD D'ESTAING (UDF),2
472,95,VAL-D'OISE,4,107816,93268,90150,3118,45051.0,GISCARD D'ESTAING (UDF),2
473,95,VAL-D'OISE,5,152501,129716,125358,4358,48709.0,GISCARD D'ESTAING (UDF),2

## Write DataFrame

In [7]:
data.to_csv('/home/h4r1c0t/Github/WildCodeSchool/Project/Datathon#1/data_pres_1965-2012.csv', index = False)