# Données des présidentielles de 1965 à 2012
## Importation et exploration des données

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/h4r1c0t/WildCodeSchool/master/Project/Datathon%231/data_pres_1965-2012.csv')

In [4]:
df.shape

(48372, 11)

In [5]:
df.head()

,Unnamed: 0,Code département,département,circonscription,Inscrits,Votants,Exprimés,Blancs et nuls,Score,Candidats,Tour
0,0,1,AIN,1,80486.0,58825.0,56688.0,2137.0,2495.0,LAGUILLER (LO),1
1,1,1,AIN,2,82984.0,61231.0,59271.0,1960.0,2968.0,LAGUILLER (LO),1
2,2,1,AIN,3,76759.0,55344.0,53597.0,1747.0,2709.0,LAGUILLER (LO),1
3,3,1,AIN,4,97991.0,73817.0,71096.0,2721.0,3390.0,LAGUILLER (LO),1
4,4,2,AISNE,1,69958.0,51878.0,50280.0,1598.0,4710.0,LAGUILLER (LO),1